@import "mixins.scss";

.App {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.centerColumn {
  width: 100%;
}

.rightColumn {
  padding: 20px 40px;
}

/* Colors */

.darkGray {
  color: #414042;
}

.gray {
  color: #ccc;
}

.orange {
  color: #f37037;
}

/* Media */

@include lg {
  .right-column {
    width: 600px;
  }
  .App {
    flex-direction: row;
  }
}
